**Download the data set from the dropbox**

In [ ]:
!wget https://www.dropbox.com/s/5dq5t0ytlrgb4qg/salaries.csv

--2020-11-06 10:10:27--  https://www.dropbox.com/s/5dq5t0ytlrgb4qg/salaries.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/5dq5t0ytlrgb4qg/salaries.csv [following]
--2020-11-06 10:10:28--  https://www.dropbox.com/s/raw/5dq5t0ytlrgb4qg/salaries.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com/cd/0/inline/BCrsWEb0QIXLFqoElIzeIUf_dQCq1n8gDJiJML9PptWlvF16xi3xFtmxYEKPQJV4zkkke5CPeE4g-sv9PNwR8fwzYaUhEprFzkffZXBPpe9TH14NJ_6_2_MzaQ9CA4hrHII/file# [following]
--2020-11-06 10:10:28--  https://uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com/cd/0/inline/BCrsWEb0QIXLFqoElIzeIUf_dQCq1n8gDJiJML9PptWlvF16xi3xFtmxYEKPQJV4zkkke5CPeE4g-sv9PNwR8fwzYaUhEprFzkffZXBPpe9TH14NJ_6_2_MzaQ9CA4hrHII/file
Resolving uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com (uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:6018:15::a27d:30f
Connecting to uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com (uc70b5bde4ad525b9ccb1552e52a.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 638 [text/plain]
Saving to: ‘salaries.csv.1’

salaries.csv.1      100%[===================>]     638  --.-KB/s    in 0s

2020-11-06 10:10:28 (84.1 MB/s) - ‘salaries.csv.1’ saved [638/638]

In [ ]:
#Importing Libraries

import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
X = df.drop('salary_more_then_100k', axis = 1)

y = df['salary_more_then_100k']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [ ]:
X['company_n'] = le_company.fit_transform(X['company'])
X['job_n'] = le_job.fit_transform(X['job'])
X['degree_n'] = le_degree.fit_transform(X['degree'])

In [ ]:
X = X.drop(['company','job','degree'],axis=1)

**Build the Model**

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [ ]:
model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(X,y)

1.0