<a href="https://colab.research.google.com/github/priyanshu021998/priyansh/blob/main/NLP_basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# spacy: natural language processing #nltk 

# matplolib # seaborn # pandas 
# python

In [ ]:
# in colab --> spacy is preinstalled 
# install spacy --> first 

import spacy

In [ ]:
# spacy ---> language ---> read english 

# language : English 

#load the english language library

nlp = spacy.load('en_core_web_sm') # verb, fullstop-->

In [ ]:
doc = nlp('Tesla is looking to buy twitter for $53 billion. The deal did not take place.')

# we are trying to teach machine--> Numericals--->  this sentence

In [ ]:
for token in doc: 
  print(token.text, token.pos_, token.dep_)

Tesla PROPN nsubj
is AUX aux
looking VERB ROOT
to PART aux
buy VERB xcomp
twitter NOUN dobj
for ADP prep
$ SYM quantmod
53 NUM compound
billion NUM pobj
. PUNCT punct

In [ ]:
# tokenization 

for token in doc:
  print(token.text)

Tesla
is
looking
to
buy
twitter
for
$
53
billion
.
The
deal
did
not
take
place
.

In [ ]:
doc1 = nlp('You can send me mails on ankietj@gmail.com!')

In [ ]:
for token in doc1:
  print(token.text)

You
can
send
me
mails
on
ankietj@gmail.com
!

In [ ]:
doc2 = nlp("let's take another example. U.S is a country!")

# 

# how do I tell nlp that let's the is not a string end.

In [ ]:
for token in doc2:
  print(token.text)

let
's
take
another
example
.
U.S
is
a
country
!

In [ ]:
# another function ---> NLP 

len(doc2)

11

In [ ]:
# i  want you to extract the word 'take' from doc2--> 21:13--> indexing/ 

doc2[2]

take

In [ ]:
# give me the words from 2 to 5 
doc2[2:6]

take another example.

In [ ]:
# can you answer me this question : are teh tokems reassignable --> take---> taken 

# break-- 21:18--> 21:30 

doc2[2] ='taken'

TypeError: ignored

In [ ]:
doc2[-4:-1]

is a country

In [ ]:
# can you extract all teh 'stop words' from the tokesn

In [ ]:
# how do I know --> do we have to hard code --> stop words

In [ ]:
# can you remove the fullstop (.) and the ! from doc2" --> for , if condition loop---> 

# 21:36--> 21:45 
new_doc = []
for i in doc2:
    if token.text != '.':
        new_doc.append(i)
print(new_doc)

# assignment

[let, 's, take, another, example, ., U.S, is, a, country, !]

In [ ]:
for token in doc2:
  print(token.is_stop)

False
True
True
True
False
False
False
True
True
False
False

In [ ]:
new_doc2= []
for token in doc2:
  print(token.is_punct)
  if token.is_punct != True:
      new_doc2.append(token)

print(new_doc2)

# true --> string--> True -->

False
False
False
False
False
True
False
False
False
False
True
[let, 's, take, another, example, U.S, is, a, country]

In [ ]:
new_doc = []
for token in doc2:
    if token.text != '.':
        new_doc.append(token.text)
print(new_doc)

['let', "'s", 'take', 'another', 'example', 'U.S', 'is', 'a', 'country', '!']

In [ ]:
filtered_sentence =[] 


for word in doc2:
  if word.text == "!":
      print("skipping")
  elif word.text == ".":
      print("skipping")
  else:
      filtered_sentence.append(word)

print(filtered_sentence)

skipping
skipping
[let, 's, take, another, example, U.S, is, a, country]

In [ ]:
# remove teh punct from the doc ---> please send me the code 

new_doc2= []
for token in doc:
  print(token.is_punct)
  if token.is_punct != True:
      new_doc2.append(token)

print(new_doc2)

# true --> string--> True -->

False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
False
False
True
[Tesla, is, looking, to, buy, twitter, for, $, 53, billion, The, deal, did, not, take, place]

In [ ]:
# I want you to write a code ---> which removes all teh currencty from teh tokes ---> doc --> spacy --> currency

# 22:01--> 22:06 

new_doc2= []
for token in doc:
  #print(token.is_punct)
  if token.is_currency != True:
      new_doc2.append(token)

print(new_doc2)

[Tesla, is, looking, to, buy, twitter, for, 53, billion, ., The, deal, did, not, take, place, .]

In [ ]:
# token ---> is_punct---> is_currency ---> 

# stopwords in NLP 

# in english---> 'the' 'is' 'and' ===? 

for token in doc2:
  print(token.is_stop)

In [ ]:
stopwords = nlp.Defaults.stop_words 
print(stopwords)
len(stopwords)

# 326 words --> tokens already found out as stopwords

{'’m', 'over', '’ll', 'elsewhere', 'keep', 'hundred', 'whereupon', 'nothing', 'fifteen', 'becomes', 'from', 'during', '‘re', 're', 'everyone', 'hereby', 'beyond', 'thereafter', 'upon', 'really', 'any', '’ve', 'twelve', 'somehow', 'an', 'top', 'moreover', 'never', '‘ll', 'why', 'regarding', 'himself', 'though', 'eight', 'because', 'me', 'on', 'five', 'take', 'anyhow', 'ten', 'ourselves', 'part', 'below', 'thence', 'did', 'along', 'another', 'someone', 'myself', 'behind', 'off', 'always', 'two', 'three', 'latterly', 'seems', 'just', 'could', 'anyone', 'whereas', 'about', 'rather', 'least', 'them', 'serious', 'via', 'still', 'above', 'much', 'get', 'due', 'are', 'therein', 'besides', 'others', 'whole', 'whenever', 'herself', '’re', 'ours', 'i', 'otherwise', 'around', 'often', 'sometimes', 'somewhere', 'hereupon', 'my', 'towards', 'him', 'after', 'amount', 'across', 'four', 'against', 'no', 'ever', 'doing', 'amongst', 'say', 'except', 'you', 'own', 'must', 'meanwhile', 'our', 'six', 'wherein', "'ll", 'without', 'toward', 'afterwards', 'among', 'done', 'into', 'please', 'throughout', '‘ve', 'hers', '‘s', 'other', 'hereafter', 'for', 'nobody', 'onto', 'was', 'whereby', 'former', 'its', 'or', 'where', 'empty', 'beforehand', 'fifty', 'she', 'and', 'seeming', 'move', 'mostly', 'within', 'side', 'although', 'enough', 'same', 'none', 'herein', 'this', 'ca', 'nowhere', 'us', 'something', 'everything', 'however', "'s", 'whereafter', 'see', 'at', 'every', 'back', 'their', 'itself', 'once', 'both', 'her', 'am', 'some', 'until', 'eleven', 'were', 'twenty', 'what', 'it', 'make', 'such', "'m", 'sixty', 'these', 'sometime', 'down', 'front', 'already', 'alone', 'do', 'even', 'become', 'which', 'there', 'wherever', 'n’t', 'further', 'be', 'quite', 'as', 'would', 'forty', 'thus', 'who', 'thereby', 'with', 'became', 'through', 'third', 'whether', 'beside', 'yours', 'per', 'so', 'n‘t', 'many', 'put', '’d', 'anywhere', 'therefore', 'most', 'whose', 'various', 'well', 'they', 'full', 'when', 'give', 'together', 'cannot', 'show', 'those', 'all', 'we', 'might', 'almost', 'each', 'nevertheless', 'under', 'a', 'nor', 'then', 'go', 'several', 'has', 'of', 'perhaps', 'mine', 'been', 'thru', 'very', 'here', 'call', 'name', 'your', '‘m', 'anything', 'is', 'used', 'first', 'seemed', "'re", 'yet', 'too', 'hence', 'he', 'seem', 'yourselves', 'either', 'the', 'out', 'whoever', 'since', 'not', 'latter', 'being', 'whither', 'in', 'have', 'few', 'but', 'will', 'to', 'anyway', "n't", 'whatever', 'only', '’s', 'yourself', 'using', 'everywhere', 'whence', 'between', "'ve", 'may', 'nine', 'that', 'namely', 'by', 'his', 'than', '‘d', 'does', 'last', 'indeed', 'up', 'if', "'d", 'bottom', 'next', 'can', 'unless', 'thereupon', 'again', 'how', 'themselves', 'less', 'also', 'else', 'before', 'more', 'formerly', 'becoming', 'one', 'should', 'whom', 'neither', 'noone', 'made', 'had', 'now', 'while'}

326

In [ ]:
text_data = "Welcome to the NLP module, This is your first class on NLP. You have learn't about tokenization and removing punt, $, etc, and stop words/."

# the task ---> remove the punct, currency , stop words (# clearning --> stopwords--> relevance)---> send me the code 

# working break ---> 22:17---> 22:30

In [ ]:
filtered_sentence1 =[] 

text_data=nlp("Welcome to the NLP module, This is your first class on NLP. You have learn't about tokenization and removing punt, $, etc, and stop words/.")
for token in text_data:
  if token.is_stop==True:
    print("stopword token - "+token.text)
  elif token.is_punct==True:
    print("punctuation token - "+token.text)
  elif token.is_currency ==True:
    print("currency token - "+ token.text)
  else:
    filtered_sentence1.append(token)

print(filtered_sentence1)

stopword token - to
stopword token - the
punctuation token - ,
stopword token - This
stopword token - is
stopword token - your
stopword token - first
stopword token - on
punctuation token - .
stopword token - You
stopword token - have
stopword token - about
stopword token - and
punctuation token - ,
currency token - $
punctuation token - ,
punctuation token - ,
stopword token - and
[Welcome, NLP, module, class, NLP, learn't, tokenization, removing, punt, etc, stop, words/.]

In [ ]:
new_doc3= []
for token in text_data:
  #print(token.is_currency)
  if token.is_currency != True:
    if token.is_punct  != True:
      if token.is_currency != True:
        if token.is_stop != True:
           new_doc3.append(token)

print(new_doc3)

[Welcome, NLP, module, class, NLP, learn't, tokenization, removing, punt, etc, stop, words/.]

In [ ]:
# in cleaning of this data---> /. from the token words/.  ---> assignment ---> Re (python in built package)

In [ ]:
doc4 = nlp(u'This is the first sentence. This is another sentence. This is the last sentence.')

In [ ]:
# instead of tokems--->< three sentences ---> list fof all the sentences---> there is a spacy function 

#22:37--> 22:42 ---> 

doc4 = nlp(u'This is the first sentence. This is another sentence. This is the last sentence.')
list(doc4.sents)

# that you are easily able to break your data into different sentences, tokens, etc. with spacy

[This is the first sentence.,
 This is another sentence.,
 This is the last sentence.]

In [ ]:
for sent in doc4.sents:
  print(sent)

This is the first sentence.
This is another sentence.
This is the last sentence.

In [ ]:
# can you create tokens of two ? ---> tokens of 1 ---> tokens 

# BERT_-> NLP

In [ ]:
import pandas as pd

In [ ]:
text_data=nlp("Welcome to the NLP module, This is your first class on NLP. You have learn't about tokenization and removing punt $, etc.")

In [ ]:
# creating a dataframe of all the atttributes of the text data 

def creating_dataframe(text_data):
  df = pd.DataFrame()

  for i, token in enumerate(text_data):
    df.loc[i, 'Tokens'] = token.text
    df.loc[i,'Stop words'] = token.is_stop
    df.loc[i,'Punct'] = token.is_punct
    df.loc[i,'Currency'] = token.is_currency
    df.loc[i,'POS'] = token.pos_
    df.loc[i,'Lemma'] = token.lemma_

In [ ]:
creating_dataframe(doc)
# you can also apply the fuinctions of pandas onto your text data 

# text data---> spacy--> which to understand english--> load---> token---> extract all the properties

In [ ]:
df

          Tokens Stop words  Punct Currency    POS         Lemma
0        Welcome      False  False    False   VERB       welcome
1             to       True  False    False    ADP            to
2            the       True  False    False    DET           the
3            NLP      False  False    False  PROPN           NLP
4         module      False  False    False   NOUN        module
5              ,      False   True    False  PUNCT             ,
6           This       True  False    False   PRON          this
7             is       True  False    False    AUX            be
8           your       True  False    False   PRON          your
9          first       True  False    False    ADJ         first
10         class      False  False    False   NOUN         class
11            on       True  False    False    ADP            on
12           NLP      False  False    False  PROPN           NLP
13             .      False   True    False  PUNCT             .
14           You       True  False    False   PRON           you
15          have       True  False    False   VERB          have
16       learn't      False  False    False   NOUN       learn't
17         about       True  False    False    ADP         about
18  tokenization      False  False    False   NOUN  tokenization
19           and       True  False    False  CCONJ           and
20      removing      False  False    False   VERB        remove
21          punt      False  False    False   NOUN          punt
22             $      False  False     True    SYM             $
23             ,      False   True    False  PUNCT             ,
24           etc      False  False    False      X           etc
25             .      False   True    False  PUNCT             .

In [ ]:
doc = nlp("go went gone cats and dogs.")

In [ ]:
for token in doc: 
  print(token.lemma_)

go
went
go
cat
and
dog
.

In [ ]:
# assignment -- lemma--> stemming, send me the code to find the stem ? 20:27 
# stemming-0- lemma---. nltk not in spacy 
import nltk

from nltk.stem.porter import *
stemmer = PorterStemmer()
tokens = ['compute', 'computer', 'computed', 'computing']
for token in tokens:
    print(token + ' --> ' + stemmer.stem(token))

compute --> comput
computer --> comput
computed --> comput
computing --> comput

In [ ]:
# NER : named entity recognition 

from spacy import displacy

In [ ]:
displacy.render(nlp("Tim Cook is the CEO of Apple."), style  = "ent", jupyter = True)

In [ ]:
doc = nlp("The capital of India is New Delhi. We are learning NLP.")

for token in doc.ents: 
  print(token.text, token.label_)

India GPE
New Delhi GPE
NLP ORG

In [ ]:
# with differnt examples ---> apply this with 5 examples and send me your inferences--> accurate / not accurate

# time upto 20:45

In [ ]:
doc = nlp("TajMahal is in one of the seven wonder. it is located in Agra.")

for token in doc.ents: 
  print(token.text, token.label_)

TajMahal ORG
one CARDINAL
seven CARDINAL
Agra PERSON

In [ ]:
print(doc.ents)

(TajMahal, one, seven, Agra)

In [ ]:
doc2 = nlp("Mount Everest is the highest peak in the world.")

for token in doc2.ents: 
  print(token.text, token.label_)

Mount Everest LOC

In [ ]:
text_data = "The Mars Orbiter Mission (MOM), informally known as Mangalyaan, was launched into Earth orbit on 5 November 2013 by the Indian Space Research Organisation (ISRO) and has entered Mars orbit on 24 September 2014. India thus became the first country to enter Mars orbit on its first attempt. It was completed at a record low cost of $74 million."

In [ ]:
doc2 = nlp(text_data)

for token in doc2.ents: 
  print(token.text, token.label_)

The Mars Orbiter Mission ORG
Mangalyaan PERSON
Earth LOC
5 November 2013 DATE
the Indian Space Research Organisation ORG
Mars LOC
24 September 2014 DATE
India GPE
first ORDINAL
Mars LOC
first ORDINAL
$74 million MONEY

In [ ]:
displacy.render(doc2, style = "ent", jupyter = True)

In [ ]:
# assignment--> can you extract all the LOC in the data 

new_doc2= []
for token in doc2.ents:
  #print(token.is_punct)
  if token.label_== "ORG":
      new_doc2.append(token)

print(new_doc2)

[The Mars Orbiter Mission, the Indian Space Research Organisation]