<a href="https://colab.research.google.com/github/priyanshu021998/priyansh/blob/main/NLP_news_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a classifier which identifies whether the given news headline is a sarcastic or a non sarcastic

In [ ]:
# this is supervised learning---> we will require ---> a labelled dataset

!wget https://www.dropbox.com/s/ztu2gdjau2otq2a/Sarcasm_Headlines_Dataset.json

--2022-08-07 15:33:19--  https://www.dropbox.com/s/ztu2gdjau2otq2a/Sarcasm_Headlines_Dataset.json
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/ztu2gdjau2otq2a/Sarcasm_Headlines_Dataset.json [following]
--2022-08-07 15:33:19--  https://www.dropbox.com/s/raw/ztu2gdjau2otq2a/Sarcasm_Headlines_Dataset.json
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com/cd/0/inline/Bqlxg2WgcOUcKTgk5kfBIu99SalB2F-vV7wQCVcccvP8RL3Tig_LnK0CEiZ7kFhJhyoX_dASPP5aIqT5CGnHPi8VJFgzdjdAR1BwfTG9ZQppowfNqgqYzz5yN2ZZsWMr8-_dHdNZor-Fx2r7vhPxI3r0h8kSRlUpAxFAXtTUuf2HhA/file# [following]
--2022-08-07 15:33:19--  https://uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com/cd/0/inline/Bqlxg2WgcOUcKTgk5kfBIu99SalB2F-vV7wQCVcccvP8RL3Tig_LnK0CEiZ7kFhJhyoX_dASPP5aIqT5CGnHPi8VJFgzdjdAR1BwfTG9ZQppowfNqgqYzz5yN2ZZsWMr8-_dHdNZor-Fx2r7vhPxI3r0h8kSRlUpAxFAXtTUuf2HhA/file
Resolving uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com (uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com (uc3ba2f6274d9706e43b928a828f.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5616830 (5.4M) [text/plain]
Saving to: ‘Sarcasm_Headlines_Dataset.json’

Sarcasm_Headlines_D 100%[===================>]   5.36M  22.5MB/s    in 0.2s

2022-08-07 15:33:20 (22.5 MB/s) - ‘Sarcasm_Headlines_Dataset.json’ saved [5616830/5616830]

In [ ]:
import pandas as pd
import spacy

In [ ]:
# all of you to send me a code to read json file 

df1 = pd.read_json("/content/Sarcasm_Headlines_Dataset.json", lines=True)

In [ ]:
df.head()
df.shape # 26709 rows and 3 columns

(26709, 3)

In [ ]:
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [ ]:
num_words = df1['headline'].str.split().str.len()
df1['num_words'] = num_words
df1.head()

,article_link,headline,is_sarcastic,num_words
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0,12
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,14
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,14
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,13
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,11

In [ ]:
df['num_words'].describe()

count    26709.000000
mean         9.845820
std          3.168955
min          2.000000
25%          8.000000
50%         10.000000
75%         12.000000
max         39.000000
Name: num_words, dtype: float64

In [ ]:
text = df1[df1['num_words']==39]['headline'].values
nlp = spacy.load('en_core_web_sm')
doc = nlp(text[0])

In [ ]:
# can you find out the headline which containes 39 words 
# is_digit, dep_ tag_ 


df = pd.DataFrame()

for i, token in enumerate(doc):
  df.loc[i, 'Tokens'] = token.text
  df.loc[i,'Stop words'] = token.is_stop
  df.loc[i,'Punct'] = token.is_punct
  df.loc[i,'Currency'] = token.is_currency
  df.loc[i,'POS'] = token.pos_
  df.loc[i,'Lemma'] = token.lemma_

In [ ]:
df

           Tokens Stop words  Punct Currency    POS          Lemma
0          elmore      False  False    False  PROPN         elmore
1         leonard      False  False    False  PROPN        leonard
2               ,      False   True    False  PUNCT              ,
3          modern      False  False    False    ADJ         modern
4           prose      False  False    False   NOUN          prose
5          master      False  False    False   NOUN         master
6               ,      False   True    False  PUNCT              ,
7           noted      False  False    False   VERB           note
8             for       True  False    False  SCONJ            for
9             his       True  False    False   PRON            his
10          terse      False  False    False    ADJ          terse
11          prose      False  False    False   VERB          prose
12          style      False  False    False   NOUN          style
13            and       True  False    False  CCONJ            and
14            for       True  False    False    ADP            for
15        writing      False  False    False   VERB          write
16          about       True  False    False    ADP          about
17         things      False  False    False   NOUN          thing
18      perfectly      False  False    False    ADV      perfectly
19            and       True  False    False  CCONJ            and
20     succinctly      False  False    False    ADV     succinctly
21           with       True  False    False    ADP           with
22              a       True  False    False    DET              a
23     remarkable      False  False    False    ADJ     remarkable
24        economy      False  False    False   NOUN        economy
25             of       True  False    False    ADP             of
26          words      False  False    False   NOUN           word
27              ,      False   True    False  PUNCT              ,
28  unfortunately      False  False    False    ADV  unfortunately
29            and       True  False    False  CCONJ            and
30          sadly      False  False    False    ADV          sadly
31        expired      False  False    False   VERB         expire
32           this       True  False    False    DET           this
33         gloomy      False  False    False    ADJ         gloomy
34        tuesday      False  False    False  PROPN        tuesday
35             at       True  False    False    ADP             at
36            the       True  False    False    DET            the
37            age      False  False    False   NOUN            age
38             of       True  False    False    ADP             of
39             87      False  False    False    NUM             87
40          years      False  False    False   NOUN           year
41            old      False  False    False    ADJ            old

In [ ]:
# clean the data --> of all stop words and punct (# 26000 rows of data)

# 21:39--> 21:44


def clean_text(df):
  nlp = spacy.load("en_core_web_sm")
  for i in range(df.shape[0]):
    doc = nlp(df['headline'][i])
    text = [w.lemma_.lower().strip() for w in doc 
            #if not (w.is_stop | w.is_punct | w.is_digit)]
            if not (w.is_stop | w.is_punct)]
    text = " ".join(text)

    if i<5:print('Sentence:', i,text)
    df['headline'][i] = text 

    return df

In [ ]:
news_df = clean_text(df1)

Sentence: 0 versace store clerk sue secret black code minority shopper

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [ ]:
news_df

,article_link,headline,is_sarcastic,num_words
0,https://www.huffingtonpost.com/entry/versace-b...,versace store clerk sue secret black code mino...,0,12
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0,14
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1,14
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1,13
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0,11
...,...,...,...,...
26704,https://www.huffingtonpost.com/entry/american-...,american politics in moral free-fall,0,5
26705,https://www.huffingtonpost.com/entry/americas-...,america's best 20 hikes,0,4
26706,https://www.huffingtonpost.com/entry/reparatio...,reparations and obama,0,3
26707,https://www.huffingtonpost.com/entry/israeli-b...,israeli ban targeting boycott supporters raise...,0,8
26708,https://www.huffingtonpost.com/entry/gourmet-g...,gourmet gifts for the foodie 2014,0,6

In [ ]:
# suppose we are going to logistic regression : ---> news_df['headline']--> numbers 

# Any ML --> we cannot input a text/categorical/string ---> number ---> 

# ML---> you were applying encoding --> false/true, yes/no

In [ ]:
# how will we take care of the text data--> numbers 

# various techniques ---> 

# TFIDF 

# tfidf---> sklearn --->

In [ ]:
# tfidf--> create a classification model using the data (labelled) --> 22:25--> 22:35 

from sklearn.feature_extraction.text import TfidfVectorizer 

tf = TfidfVectorizer()

X = tf.fit_transform(news_df['headline'])

In [ ]:
y = news_df['is_sarcastic']

In [ ]:
# what should be the next 

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2 , random_state = 42)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [ ]:
#
# ---> classification metrics ---> 

# evaluate the model results. time:22:48

from sklearn.metrics import confusion_matrix , accuracy_score,  recall_score, f1_score, precision_score
cm= confusion_matrix(y_test, y_pred)  
acc_sc = accuracy_score(y_test, y_pred)
f1_sc=  f1_score(y_test, y_pred)
re_sc = recall_score(y_test, y_pred)
pr_sc = precision_score(y_test, y_pred)
print("Recall :", re_sc)
print("Precision :", pr_sc)
print("F1 Score : ", f1_sc)
print("Accuracy:",acc_sc)

Recall : 0.8162830349531117
Precision : 0.829004329004329
F1 Score :  0.822594501718213
Accuracy: 0.845376263571696

In [ ]:
# would you want to try any other classification mdoel 

from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_pred = rf.predict(X_test)

In [ ]:
#
# ---> classification metrics ---> 

# evaluate the model results. time:22:48

from sklearn.metrics import confusion_matrix , accuracy_score,  recall_score, f1_score, precision_score
cm= confusion_matrix(y_test, y_pred)  
acc_sc = accuracy_score(y_test, y_pred)
f1_sc=  f1_score(y_test, y_pred)
re_sc = recall_score(y_test, y_pred)
pr_sc = precision_score(y_test, y_pred)
print("Recall :", re_sc)
print("Precision :", pr_sc)
print("F1 Score : ", f1_sc)
print("Accuracy:",acc_sc)

Recall : 0.8009377664109122
Precision : 0.7852068533221898
F1 Score :  0.7929943025954843
Accuracy: 0.8163609135155373

In [ ]:
# try fr classification : naive bayes classifer, svm classifier 

#and report the results
#SVM
from sklearn import svm
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc_sc1 = accuracy_score(y_true, y_pred)
print(acc_sc1)

NameError: ignored

In [ ]:
# in todays class, whatever we learn't processing of text data using spacy

# its use with a case study 

# classify the news headlines into --> sarcastic/ non sarcastic--> dataset

# we processed the text daya using spacy and cleaned --> by removing the punct/stop words 

# currency/ special chracters--< nlp --> spacy 


# cleaned the data 

# TFIDF--> it gives weightage to each token and therby it creates a vector for the sentence---> next class--? hands-on 

# hands-on---> tfidf--> should work---> sklearn model to find the vectors 

# we applied the typocal model stpes like split of data, def. X and Y , sklearn classification models.